.primary-color {
    -fx-text-fill: #039be5;
}

.success-color {
    -fx-text-fill: #2db84c;
}

.danger-color {
    -fx-text-fill: #f25a5a;
}

.black-color {
    -fx-text-fill: rgba(0,0,0,.87);
}

.text-bold {
    -fx-font-weight: bold;
    -fx-font-family: 'SansSerif';
}