.primary-color {
    -fx-text-fill: #039be5;
}

.success-color {
    -fx-text-fill: #2db84c;
}

.success-bg-color {
    -fx-background-color: #2db84c;
}

.warning-color {
    -fx-text-fill: #ffc107;
}

.warning-bg-color {
    -fx-background-color: #ffc107;
}

.danger-color {
    -fx-text-fill: #f25a5a;
}

.danger-bg-color {
    -fx-background-color: #f25a5a;
}

.white-color {
    -fx-text-fill: #fff;
}

.white-bg-color {
    -fx-background-color: #fff;
}

.black-color {
    -fx-text-fill: rgba(0,0,0,.87);
}

.gray-color {
    -fx-text-fill: rgba(0,0,0,.54);
}

.text-bold {
    -fx-font-weight: bold;
    -fx-font-family: 'SansSerif';
}

/* Linear color */
.bg--linear-succeed-color {
    -fx-background-color: linear-gradient(to bottom right, #2db84c, #4af597);
    -fx-font-size: 11px;
}