/* Container */
.content .header {
    -fx-vgap: 10;
}

.dialog-container {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.container {
    -fx-pref-width: 450px;
}

.container__content {
    -fx-max-width: 400px;
    -fx-pref-width: 320px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0, 0, 0);
}
/* Fonts */
.font--size-10 {
    -fx-font-size: 10px;
}

.font--size-20 {
    -fx-font-size: 20px;
}

/* Button */
.button-group {
    -fx-spacing: 5;
}

.button--bg-radius-50 {
    -fx-background-radius: 50%;
}