.bill {
    -fx-background-image: url("../images/categories/bill.png");
}

.bill_rentals {
    -fx-background-image: url("../images/categories/bill_rentals.png");
}

.bill_internet {
    -fx-background-image: url("../images/categories/bill_internet.png");
}

.bill_phone {
    -fx-background-image: url("../images/categories/bill_phone.png");
}

.bill_television {
    -fx-background-image: url("../images/categories/bill_television.png");
}

.bill_water {
    -fx-background-image: url("../images/categories/bill_water.png");
}

.bill_electricity {
    -fx-background-image: url("../images/categories/bill_electricity.png");
}

.bill_gas {
    -fx-background-image: url("../images/categories/bill_gas.png");
}

.education {
    -fx-background-image: url("../images/categories/education.png");
}

.education_books {
    -fx-background-image: url("../images/categories/education_books.png");
}

/* FLAGS */
.currency__usd {
    -fx-background-image: url("../images/flags/currency_usd.png");
}

.currency__vnd {
    -fx-background-image: url("../images/flags/currency_vnd.png");
}

.currency__jpy {
    -fx-background-image: url("../images/flags/currency_jpy.png");
}

.currency__krw {
    -fx-background-image: url("../images/flags/currency_krw.png");
}

.currency__sgd {
    -fx-background-image: url("../images/flags/currency_sgd.png");
}