.i_bill {
    -fx-background-image: url("../images/categories/i_bill.png");
}

.i_bill_rentals {
    -fx-background-image: url("../images/categories/i_bill_rentals.png");
}

.i_bill_internet {
    -fx-background-image: url("../images/categories/i_bill_internet.png");
}

.i_bill_phone {
    -fx-background-image: url("../images/categories/i_bill_phone.png");
}

.i_bill_television {
    -fx-background-image: url("../images/categories/i_bill_television.png");
}

.i_bill_water {
    -fx-background-image: url("../images/categories/i_bill_water.png");
}

.i_bill_electricity {
    -fx-background-image: url("../images/categories/i_bill_electricity.png");
}

.i_bill_gas {
    -fx-background-image: url("../images/categories/i_bill_gas.png");
}

.i_education {
    -fx-background-image: url("../images/categories/i_education.png");
}

.i_education_books {
    -fx-background-image: url("../images/categories/i_education_book.png");
}

/* DEBT LOAN*/
.debt {

}

.debt-collection {

}


/* FLAGS */
.currency__usd {
    -fx-background-image: url("../images/flags/currency_usd.png");
}

.currency__vnd {
    -fx-background-image: url("../images/flags/currency_vnd.png");
}

.currency__jpy {
    -fx-background-image: url("../images/flags/currency_jpy.png");
}

.currency__krw {
    -fx-background-image: url("../images/flags/currency_krw.png");
}

.currency__sgd {
    -fx-background-image: url("../images/flags/currency_sgd.png");
}