.transaction__container {
    -fx-pref-width: 450px;
}

.transaction {
    -fx-max-width: 400px;
    -fx-pref-width: 320px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0, 0, 0);
}

.transaction__button-group, .type__button-group {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, #000000, 1, 0, 0, 0.5);
}

.transaction__pane {
    -fx-padding: 10px;
}

.transaction__statistic {
    -fx-vgap: 5;
}

.transaction__statistic__residual-amount {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: rgba(0,0,0,.12);
}

.transactions__times {
    -fx-spacing: 10;
}

.transactions {
    -fx-vgap: 8;
    -fx-border-color: rgba(0,0,0,.12);
    -fx-border-width: 5 0 0 0;
    -fx-padding: 5 0 5 0;
}

.transactions Line {
    -fx-stroke: red
}

.transaction__time__dd {
    -fx-font-size: 24px;
}

.transaction__time__dddd,
.transaction__content__type.subcategory,
.transaction__time__mmyyyy,
.transaction__content__note {
    -fx-text-fill: rgba(0,0,0,.54);
}

.transaction__content__type.subcategory {
    -fx-text-fill: rgba(0,0,0,.87);
}

.transaction__time__mmyyyy {
    -fx-text-fill: #6f6f6f;
}

.transaction__content, .transaction__time {
    -fx-vgap: 3;
}

.transaction__content__image {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

