.wallets__content .transaction__content {
    -fx-spacing: 3;
}

.wallets__content .transactions {
    -fx-border-width: 0;
    -fx-padding: 5 10 10 10;
}

.wallet__select-btn {
    -fx-background-color: linear-gradient(to bottom right, #2db84c, #4af597);
    -fx-font-size: 11px;
}

.wallet__select-btn .menu-button {
    -fx-opacity: 0.9;
}

.wallet__select-btn .menu-button:hover {
    -fx-opacity: 1;
}