.header {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0, 0, 0);
    -fx-padding: 8 10;
}

.header__wallet__select-btn {
    -fx-background-color: #fff;
}

.header__wallet__select-btn, .header__wallet {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-background-position: 5px 45%;
    -fx-background-image: url('../../images/header-wallet.png');
    -fx-padding: 0 0 0 25;
}

.header__wallet {
    -fx-pref-height: 30px;
    -fx-padding: 0 0 0 40;
}

.header__report {
    -fx-spacing: 5;
}