.normal-button {
    -fx-font-weight: 500;
    -fx-font-family: 'SansSerif';
    -fx-background-color: #1aa333;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, #000000, 1, 0, 0, 0);
}

.cancel-button {
    -fx-background-color: rgba(0,0,0,.06);
    -fx-text-fill: #1aa333;
    -fx-effect: none;
}

/* Image Button */
.image-button {
    -fx-background-color: #fff;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-position: 20px 45%;
    -fx-padding: 12 10 12 55;
    -fx-text-fill: #000;
    -fx-max-width: infinity;
    -fx-text-alignment: left;
}

.subcategories .image-button {
    -fx-background-position: 45px 45%;
    -fx-padding: 10 10 10 80;
}

/* Tag Button */
.tags__button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent;
}

.tags__button.active {
    -fx-text-fill: #2db84c;
    -fx-border-color: #2db84c;
}

/* Text Button */
.text-button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

/* Sidebar Button */
.sidebar__button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-background-position: top center;
    -fx-font-size: 10px;
    -fx-pref-height: 47px;
    -fx-pref-width: 80px;
}

.sidebar__button.active {
    -fx-text-fill: #2db84c;
}

.wallet {
    -fx-background-image: url("../../images/wallet.png");
}

.wallet.active {
    -fx-background-image: url("../../images/coloured-wallet.png");
}

.debt {
    -fx-background-image: url("../../images/debt.png");
}

.debt.active {
    -fx-background-image: url("../../images/coloured-debt.png");
}

.report {
    -fx-background-image: url("../../images/statistics.png");
}

.report.active {
    -fx-background-image: url("../../images/coloured-statistics.png");
}

.budget {
    -fx-background-image: url("../../images/budget.png");
}

.budget.active {
    -fx-background-image: url("../../images/coloured-budget.png");
}

.transaction {
    -fx-background-image: url("../../images/transaction.png");
}

.transaction.active {
    -fx-background-image: url("../../images/coloured-transaction.png");
}

.user {
    -fx-background-image: url("../../images/user.png");
}

.user.active {
    -fx-background-image: url("../../images/coloured-user.png");
}

.friends {
    -fx-background-image: url("../../images/friends.png");
}

.friends.active {
    -fx-background-image: url("../../images/coloured-friends.png");
}

.sign-out {
    -fx-background-image: url("../../images/sign-out.png");
}

.sign-out.active {
    -fx-background-image: url("../../images/coloured-sign-out.png");
}
