.sidebar__button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-background-position: top center;
    -fx-font-size: 10px;
    -fx-pref-height: 47px;
    -fx-pref-width: 80px;
}

.sidebar__button.active {
    -fx-text-fill: #2db84c;
}

.wallet {
    -fx-background-image: url("../../images/wallet.png");
}

.wallet.active {
    -fx-background-image: url("../../images/coloured-wallet.png");
}

.report {
    -fx-background-image: url("../../images/statistics.png");
}

.report.active {
    -fx-background-image: url("../../images/coloured-statistics.png");
}

.budget {
    -fx-background-image: url("../../images/budget.png");
}

.budget.active {
    -fx-background-image: url("../../images/coloured-budget.png");
}