.tags__button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: inherit;
}

.tags__button.active {
    -fx-text-fill: #2db84c;
    -fx-border-color: #2db84c;
}