.category {
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: rgb(224, 224, 224);
    -fx-spacing: 3;
    -fx-background-color: #fff;
    -fx-padding: 5;
}

.category .normal-button {
    -fx-effect: none;
}

.category .normal-button:hover {
    -fx-background-color: rgba(45,184,76,.08);
}

.subcategories {
    -fx-spacing: 3;
}