.currency__choose-button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-position: 12px 40%;
    -fx-padding: 10 5 10 52;
    -fx-max-width: infinity;
}

.currency__choose-button:hover {
    -fx-background-color: rgba(45,184,76,.08);
}

.currency__choose-button.active {
    -fx-background-color: rgba(45,184,76,.08);
}

.currency__title {
    -fx-font-size: 20;
}

.currency__search-form {
    -fx-spacing: 10;
}

.currency__search-field {
    -fx-max-width: infinity;
}

.currency__content {
    -fx-spacing: 1;
}