.transaction__create-form {
    -fx-padding: 15;
    -fx-vgap: 10;
    -fx-hgap: 20;
}

.transaction__create-form__select {
    -fx-background-color: #fff;
    -fx-pref-width: infinity;
    -fx-border-radius: 3;
}

.form__button {
    -fx-font-size: 15px;
    -fx-padding: 6px 10px;
}

.transaction__create-form > VBox {
    -fx-spacing: 5;
}

.calendar-cell:hover {
    -fx-background-color: rgba(135,206,235,0.7);
    -fx-text-fill: white;
}

.calendar-cell:pressed {
    -fx-background-color: rgba(135,186,215,0.7);
    -fx-text-fill: white;
}

.calendar-cell-selected {
    -fx-background-color: rgba(105,176,195,0.7);
    -fx-text-fill: white;
}

.calendar-cell-today {
    -fx-background-color: rgba(155,155,19,0.7);
    -fx-text-fill: white;
}

.calendar-cell-inactive {
    -fx-text-fill: darkgray;
}